{% extends 'layout.html' %} {% block title %} Eliminar Post {% endblock %} {% block content %} {% if user.is_authenticated %}
<h1 class="h1">Eliminar post</h1>
<h3 class="h3">Está seguro?</h3>
<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Eliminar</button>
    </form>
</div>
{% else %}

<div class="row">
    <div class="col-md-12 ">
        <h1 class="text-center">Oops!</h1>
        <h2 class="text-center">No puedes ingresar a este sitio</h2>
        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'home' %}">Volver</a>
        </div>
    </div>
</div>
{% endif %} {% endblock %}