{% extends 'layout.html' %} {% block title %} {{ post.titulo_tag }} {% endblock %} {% block content %}
<h1>
    {{ post.titulo }}</h1>
<small>By: {{ post.autor.first_name }} {{ post.autor.last_name }} - {{post.fecha_publicacion}} 
    {% if user.is_authenticated and user.id == post.autor.id %}
    <a  href="{% url 'actualizar-publicacion' post.pk %}">[Editar]</a> 
    <a  href="{% url 'eliminar-publicacion' post.pk %}">[Eliminar]</a><br>
    {% endif %}
</small>
<hr>
<br> {% if post.header_image %}
<img src="{{ post.header_image.url }}" alt="" width="400"> {% endif %}
<p class="text-justify">{{ post.cuerpo | safe}}</p><br><br>
<a class="btn btn-secondary" href="{% url 'home' %}">Volver</a>

<hr>
<form action="{% url 'like_post' post.pk %}" method="post">
    {% csrf_token %} {% if user.is_authenticated %} {% if liked %}

    <button type="submit" class="btn btn-sm btn-danger" name='post_id' value="{{ post.id }}">UnLike</button> {% else %}
    <button type="submit" class="btn btn-sm btn-primary" name='post_id' value="{{ post.id }}">Like</button> {% endif %} {% else %}
    <a class="btn btn-sm btn-success" href="{% url 'login' %}">Login</a> - {% endif %} {{total_likes}} likes
</form>
{% endblock %}